.sidenav-container {
 
  height:93% ;
}

.sidenav {
//  margin-top:  79px ;
  
  width: 200px;
}
.Rsidenav {
  //  margin-top:  79px ;
    
    width: 300px;
  }

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}

.padder {
  flex: 1 1 auto;
}
spacer{
  margin: 30px ;
  padding: auto;
} 